@import "tailwindcss";

:root {
  --azul:    #38bdf8;
  --ciano:   #06b6d4;
  --fundo:   #060e1e;
  --fundo2:  #0a1628;
  --fundo3:  #0d1f3c;
  --borda:   rgba(56,189,248,.15);
  --texto:   #f1f5f9;
  --subtexto:#94a3b8;
}

body {
  background-color: var(--fundo);
  color: var(--texto);
  font-family: 'DM Sans', sans-serif;
}